In [1]:
!git clone https://github.com/Alberto7526/MonografiaGithub.git

Cloning into 'MonografiaGithub'...
remote: Enumerating objects: 46, done.
remote: Counting objects: 100% (46/46), done.
remote: Compressing objects: 100% (37/37), done.
remote: Total 46 (delta 12), reused 37 (delta 7), pack-reused 0
Unpacking objects: 100% (46/46), done.
Checking out files: 100% (13/13), done.

In [2]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

In [ ]:
#import local.lib.timeseries as ts
#%matplotlib inline

#**Parte1**

In [ ]:
sales_train = pd.read_csv('./New_Datasets/sales_train.csv')
sales_train['date'] = pd.to_datetime(sales_train['date'],errors='coerce', dayfirst=True)
sales_train

#**parte2**

In [5]:
sales_train = sales_train.groupby(by=['date_block_num','shop_id','item_id'],as_index=False).agg(y=pd.NamedAgg(column='item_cnt_day', aggfunc='sum'))
sales_train

          y
0         0
1         0
2         0
3         0
4         0
...      ..
1609115  33
1609116  33
1609117  33
1609118  33
1609119  33

[1609120 rows x 1 columns]

In [6]:
def transformation(d):
    shops_items = {}
    for i in d.item_id.unique():
      for k in d.shop_id.unique():
        if not ((i,k) in shops_items):
          shops_items[i,k] = [0]*34
    for i in d.index:
      item = d.item_id[i]
      shop = d.shop_id[i]
      block = d.date_block_num[i]
      shops_items[item,shop][block] = d.y[i]
    return (shops_items)

In [7]:
def timeseries(dictionary,step):
    data = {'item_shop':[]}
    for i in range(step):
      data['y_'+str(i)]=[]
    data['y']=[]
    for clave,valor in dictionary.items():
      for k in range(0,len(valor)-step-1):
        data['item_shop'].append(str(clave[0])+'-'+str(clave[1]))
        for i in range(step):
          data['y_'+str(i)].append(int(valor[k+i]))
        data['y'].append(int(valor[k+step]))
    return data

In [8]:
sales_train = pd.DataFrame(timeseries((transformation(sales_train)),12))

AttributeError: 'DataFrame' object has no attribute 'item_id'

In [7]:
sales_train

         item_shop  y_0  y_1  y_2  y_3  y_4  ...  y_7  y_8  y_9  y_10  y_11  y
0             32-0    6   10    0    0    0  ...    0    0    0     0     0  0
1             32-0   10    0    0    0    0  ...    0    0    0     0     0  0
2             32-0    0    0    0    0    0  ...    0    0    0     0     0  0
3             32-0    0    0    0    0    0  ...    0    0    0     0     0  0
4             32-0    0    0    0    0    0  ...    0    0    0     0     0  0
...            ...  ...  ...  ...  ...  ...  ...  ...  ...  ...   ...   ... ..
27474295  15925-36    0    0    0    0    0  ...    0    0    0     0     0  0
27474296  15925-36    0    0    0    0    0  ...    0    0    0     0     0  0
27474297  15925-36    0    0    0    0    0  ...    0    0    0     0     0  0
27474298  15925-36    0    0    0    0    0  ...    0    0    0     0     0  0
27474299  15925-36    0    0    0    0    0  ...    0    0    0     0     0  0

[27474300 rows x 14 columns]

In [ ]:
data.to_csv('MonografiaGithub/New_Datasets/time_series_many.csv',index=False)

In [8]:
trds = sales_train[[i<=15000000 for i in list(sales_train.index)]]
tsds = sales_train[[i>15000000 for i in list(sales_train.index)]]
print (sales_train.shape, trds.shape, tsds.shape)

(27474300, 14) (15000001, 14) (12474299, 14)

In [ ]:
del (sales_train)

In [ ]:
Xtr = trds[[i for i in trds.columns if i!="y"]].values
ytr = trds.y.values
Xts, yts = tsds[[i for i in tsds.columns if i!="y"]].values, tsds.y.values

In [ ]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LogisticRegression
from sklearn.pipeline import Pipeline

In [ ]:
estimator = RandomForestRegressor(n_estimators=90, max_depth=15)
#estimator = DecisionTreeClassifier(max_depth=2)
# estimator = LogisticRegression()
#estimator = Pipeline((("pca", PCA(n_components=2)), ("estimator", estimator)))
estimator.fit(Xtr,ytr);

ValueError: ignored

In [ ]:
print ("train accuracy %.2f"%estimator.score(Xtr,ytr))
print ("test accuracy  %.2f"%estimator.score(Xts,yts))

train accuracy 0.90
test accuracy  0.36